// COLORS
$color-primary: #8C8C8C;
$color-blue-bold: #3498db;
$color-blue-bold-2: #217dbb;
$color-blue-sky: #7cbde8;
$color-white: #fff;

$box-shadow-btn: 0 .5rem 1rem rgba(231, 190, 237, 0.76);

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
