.header {
  height: 95vh;
  background-image: url(../img/GreenYellow.jpg);
  background-size: cover;
  background-position: top;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 15%;
  -webkit-animation: moveInLeft 2s ease-in;
          animation: moveInLeft 2s ease-in;
}

