.section-skills {
  margin-bottom: 5rem;
}

.skill-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    height: 30rem;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon-js {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        color: rgb(237, 225, 99);

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

        &__icon-rb {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        color: rgb(219, 138, 138);

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

        &__icon-t {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        color: $color-blue-bold;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
      }

        &__icon-to {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        color: $color-primary;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
      }


    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
                transform: translateY(-1.5rem) scale(1.03);
    }
}

